  <h2>
    <mat-icon
    [matBadge]="(ordineState | async).ordine.length"
    matBadgeColor="warn"
    [matBadgeHidden]="!visibleCounter"
     class="icon mr5 valmiddle">layers_clear</mat-icon>
    Annullati del
    <span style="color: #673AB7">
      {{ today | date: 'dd/MM/yyyy'}}
    </span>
  </h2>

  <div *ngIf="!(ordineState | async).loading">
  <div class="mb20 mt20 cardList">

    <app-ordine-edit
    *ngFor="let ordineel of (ordineState | async).ordine"
    [ordine]="ordineel"
    ></app-ordine-edit>

  </div>
</div>
<div>
  <mat-progress-bar mode="indeterminate" *ngIf="(ordineState | async).loading"></mat-progress-bar>
</div>

