<div *ngIf="!(chaletState | async).loading">

    <h2>Chalet: <span style="color: #673AB7">
        {{ (chaletState | async).chalet['ragione_sociale'] }}
      </span> </h2>
    <mat-tab-group>
      <mat-tab label="Dettaglio">
        <div class="mattabheader">
          <div class="mb20 mt20 cardList">
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">place</mat-icon>
                  </div>
                  <mat-card-title>
                    Indirizzo
                  </mat-card-title>
                  <mat-card-subtitle>
                    Provincia: {{ (chaletState | async).chalet['indirizzo']?.provincia }} <br>
                    Citta: {{ (chaletState | async).chalet['indirizzo']?.citta }} <br>
                    Via: {{ (chaletState | async).chalet['indirizzo']?.via }} <br>
                    Civico: {{ (chaletState | async).chalet['indirizzo']?.civico }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">contacts</mat-icon>
                  </div>
                  <mat-card-title>
                    Contatti
                  </mat-card-title>
                  <mat-card-subtitle>
                    Telefono: {{ (chaletState | async).chalet['telefono'] }} <br>
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Documenti">
        <app-documenti></app-documenti>
      </mat-tab>
    </mat-tab-group>

</div>
<div fxLayout="row" fxFlex>
  <br>
  <mat-progress-bar mode="indeterminate" *ngIf="(chaletState | async).loading"></mat-progress-bar>
</div>
