<mat-form-field>
    <input matInput placeholder="Cerca" #term (keyup)="search(term.value)"> 
</mat-form-field>
<div fxLayout="row" fxFlex *ngIf="!(requisitoState | async).loading">    
    
 <mat-paginator #paginator class="mat-elevation-z8" 
    [length]="(requisitoState | async).requisiti.total" 
    [pageSize]="(requisitoState | async).requisiti.per_page"
    [pageIndex]="page_index"
    [showFirstLastButtons]=true 
    (page)="handlePage($event)">
</mat-paginator>

  <table mat-table [dataSource]="(requisitoState | async).requisiti.data" 
         id="tableClienti" class="mat-elevation-z8 mb40">
    <ng-container matColumnDef="denominazione">
        <th mat-header-cell *matHeaderCellDef> Denominazione </th>
        <td mat-cell *matCellDef="let element"> {{ element.denominazione }} </td>
    </ng-container>  
     
      <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef class="action"> </th>
            <td mat-cell *matCellDef="let element" class="action">                  
                <mat-icon (click)="$event.stopPropagation();deleteRequisito(element)"  
                class="icon mr5 valmiddle">delete</mat-icon>
                <mat-icon (click)="$event.stopPropagation();editRequisito(element)"
                class="icon mr5 valmiddle">edit</mat-icon>
            </td>
        </ng-container>          
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClicked(row)">
      ></tr>     
  </table>
</div>
<div fxLayout="row" fxFlex >    
    <mat-progress-bar mode="indeterminate" *ngIf="(requisitoState | async).loading"></mat-progress-bar>
</div> 
