<div *ngIf="!(ombrelloneState | async).loading">

    <h2>Ombrellone: <span style="color: #673AB7">
        {{ (ombrelloneState | async).ombrellone['ragione_sociale'] }}
      </span> </h2>

        <div class="mattabheader">
          <div class="mb20 mt20 cardList">
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">place</mat-icon>
                  </div>
                  <mat-card-title>
                    Indirizzo
                  </mat-card-title>
                  <mat-card-subtitle>
                    Provincia: {{ (ombrelloneState | async).ombrellone['indirizzo']?.provincia }} <br>
                    Citta: {{ (ombrelloneState | async).ombrellone['indirizzo']?.citta }} <br>
                    Via: {{ (ombrelloneState | async).ombrellone['indirizzo']?.via }} <br>
                    Civico: {{ (ombrelloneState | async).ombrellone['indirizzo']?.civico }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">contacts</mat-icon>
                  </div>
                  <mat-card-title>
                    Contatti
                  </mat-card-title>
                  <mat-card-subtitle>
                    Telefono: {{ (ombrelloneState | async).ombrellone['telefono'] }} <br>
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </div>


</div>
<div fxLayout="row" fxFlex>
  <br>
  <mat-progress-bar mode="indeterminate" *ngIf="(ombrelloneState | async).loading"></mat-progress-bar>
</div>
