<div class="cardListItem">
  <mat-card
    matTooltip="{{getTooltipText()}}"
    matTooltipClass="my-tooltip"
    style="box-shadow: none;"
  (click)="prenArray.length > 0 ? openDetailDialog() : openPrenotaDialog()"
  class="example-card" [ngClass]="{'ombrelloneLibero' : prenArray.length == 0,
                                   'ombrelloneOccupato': prenArray.length > 0,
                                   'ombrelloneStagionale': prenArray.length > 0 && prenArray[0].is_stagionale,
                                  'highlightedOmbrellone' : ombrellone.numero.includes(ombrellonename) && ombrellonename != ''}">
    <mat-card-header>
      <mat-card-title>

        <span
        [ngStyle]="{'color':ombrellone.numero.includes(ombrellonename) && ombrellonename != '' ? '#000' : '#fff' }"
        >{{ ombrellone.numero }} </span>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

