.mat-card-header .mat-card-title {
    margin-bottom: 0px;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
}

.mat-card-title{
  color:#673ab7;
  font-size: 0.9rem;
  padding-top: 12px;
}
.mat-card-header {
  text-align: center;
  justify-content: center;
}
.mat-card-actions{
  font-size: 0.8rem;
  padding-top: 0%;
  text-align: center;
  justify-content: center;
}

mat-card {
  padding: 1px;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.ombrelloneLibero{
  background: #45cc47;
  color: #fff;
}

.ombrelloneOccupato{
  background: #F44336;
  color: #fff;
}

.ombrelloneStagionale{
  background: #673ab7;
  color: #fff;
}

.spanTitle{
    font-size: 0.9rem;
    font-weight: 100;
}

.highlightedOmbrellone {
  background: #F8FF00;
  color: #000;
}
