<div class="wrapper centered">
  <div class="vh-centered">
    <mat-card class="text-center mat-elevation-z0">
      <mat-icon class="notfoundicon">browser_not_supported</mat-icon>
      <p>
        NOT FOUND
      </p>
      <br>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="w-80"
          routerLink="/user/ordini"
        >
          DASHBOARD
          <mat-icon class="icon mr15">home</mat-icon>
        </button>
        <br /><br />
      </mat-card-actions>
    </mat-card>
  </div>
</div>
