<div *ngIf="!(ombrelloniState | async).loading">


  <mat-form-field class="mt20" style="width:100%">
    <input matInput placeholder="Cerca" #term (keyup)="setSearch(term.value)" style="width:100%">
  </mat-form-field>

  <div class="content">
        <mat-card class="listItem"
          *ngFor="let ombrellone of ombrelloni | filterOmbrelloni: ombrellonename">
          <mat-card-header>
            <mat-card-title>
              <span><mat-icon>beach_access</mat-icon></span> <br>
              <span style="color: black;">{{ ombrellone.numero }} </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions>
          <button mat-icon-button color="primary" (click)="editOmbrellone(ombrellone)"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button color="primary" (click)="deleteOmbrellone(ombrellone)"> <mat-icon>delete</mat-icon> </button>
          </mat-card-actions>
        </mat-card>
  </div>


</div>
<div>
  <mat-progress-bar mode="indeterminate" *ngIf="(ombrelloniState | async).loading"></mat-progress-bar>
</div>





