<h3 class="titlerisorsaumanadetail mat-elevation-z3"> 
  <mat-icon class="icon valmiddle mr5 ">person_pin</mat-icon>
  {{ risorsaumana.nome }} {{ risorsaumana.cognome }}
  <button mat-button id="btnmobile" (click)="close()" 
          mat-raised-button color="primary">Chiudi</button>
</h3>
<mat-dialog-content>
  <mat-list> 
      <mat-list-item><mat-icon class="icon mr5">smartphone</mat-icon> {{ risorsaumana.cellulare }}</mat-list-item><mat-divider></mat-divider>
      <mat-list-item><mat-icon class="icon mr5">email</mat-icon> {{ risorsaumana.email }}</mat-list-item><mat-divider></mat-divider>   
    <mat-list-item><mat-icon class="icon mr5">group</mat-icon> {{ risorsaumana.c_fiscale }}</mat-list-item><mat-divider></mat-divider>
    <mat-list-item><mat-icon class="icon mr5">face</mat-icon> {{ risorsaumana.data_nascita | date:'dd/MM/yyyy' }}</mat-list-item><mat-divider></mat-divider>
    <mat-list-item><mat-icon class="icon mr5">place</mat-icon>  <b>Città</b>: {{ risorsaumana.citta }} </mat-list-item>
    <mat-list-item><b>Provincia</b>: {{ risorsaumana.provincia }} </mat-list-item>
    <mat-list-item><b>Indirizzo</b>: {{ risorsaumana.indirizzo }} </mat-list-item>
    <mat-list-item><b>Cap</b>: {{ risorsaumana.cap }} </mat-list-item>    
    <mat-divider></mat-divider>    
   </mat-list>
</mat-dialog-content>
<mat-dialog-actions>    
  <button class="mat-raised-button mt20 w-100" id="btndesktop" (click)="close()" 
          mat-raised-button color="primary">Chiudi</button>
</mat-dialog-actions>