.titlerequisitodetail{
    color: #fff;
    padding: 10px;
    background: #673ab7
}

.valmiddle {
    vertical-align: middle;
}

#btnmobile {display: none}
#btndesktop {display: block}

@media screen and (max-width: 960px) {
    
    #btnmobile {        
        display: block;
        float: right;
        background: #fff;
        color: #673ab7;
        margin-top: -2%
    }   
    .titlerequisitodetail{
        font-size: 0.9rem
    }
    #btndesktop {display: none}
}