.w-100{
  width: 100%;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}

.mat-card-actions{
  margin-bottom: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

mat-slider {
  width: 300px;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
  mat-slider {
    width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
  mat-slider {
    width: 100px;
  }
  h2 {font-size: 1.2rem;}
  #zoombox{display: none;}
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
