<h2 class="titleSection">
  <mat-icon class="sidenav-icon mr15 valmiddle" color="primary">share</mat-icon>
  Condividi il Menù</h2>
<p><i>Stampa il QrCode oppure condividi la pagina del menù</i></p>

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <p class="title-card-f">Stampa il qrCode</p>
          <ngx-qrcode
            elementType="img"
            errorCorrectionLevel="Q"
            [value]="linkmenu"
            width="300"
            cssClass="bshadow">
          </ngx-qrcode>
        <div id="qrCodeP" style="display: none;">
          <h1>
            Stampa il qrCode ed esponilo
            nel tuo locale
          </h1>
          <ngx-qrcode
            elementType="img"
            errorCorrectionLevel="Q"
            [value]="linkmenu"
            width="500"
            cssClass="bshadow">
          </ngx-qrcode>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="printQrCode()" mat-button mat-raised-button color="primary">STAMPA</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z2">
      <mat-card-content>
        <p class="title-card-f">Visualizza il menù</p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/menu', chaletUID]"
        mat-button mat-raised-button color="primary"
        target="_blank">VISUALIZZA</a>
        <br><br>
        <button [cdkCopyToClipboard]="linkmenu" style="margin: 0%;"
        mat-button mat-raised-button color="primary" (click)="openCopySnack()">
        <span class="material-icons"> content_copy </span>
        COPIA LINK</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
