.content > mat-card {
    width: 200px;
}

mat-card-actions{
  margin: 0px;
}

.bshadow {
  filter: drop-shadow(5px 5px 5px #222222);
  opacity: .5;
  width: 600px;
}

#qrCodeP > ngx-qrcode > div > img{
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 300px;
}

.title-card-f{
  font-size: 1.2rem;
  margin: 0%;
  font-weight: 500;
}
