<div *ngIf="!(chaletState | async).loading">
  <div *ngIf="(chaletState | async).chalet[0]">

        <button
        *ngIf="(chaletState | async).chalet[0] as element"
        (click)="editChalet(element)"
        mat-fab class="mat-button-bottom-r"
        color="primary" aria-label="Modifica">
          <mat-icon>edit</mat-icon>
        </button>

          <div class="mb20 mt20 cardList">
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">label</mat-icon>
                  </div>
                  <mat-card-title>
                    Ragione Sociale
                  </mat-card-title>
                    <mat-card-subtitle>
                        {{ (chaletState | async).chalet[0].ragione_sociale }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <br>
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">place</mat-icon>
                  </div>
                  <mat-card-title>
                    Indirizzo
                  </mat-card-title>
                  <mat-card-subtitle style="font-size: 1rem;">
                    {{ (chaletState | async).chalet[0].indirizzo.via }},
                    n. {{ (chaletState | async).chalet[0].indirizzo.civico }} |
                    {{ (chaletState | async).chalet[0].indirizzo.citta }} |
                    ( {{ (chaletState | async).chalet[0].indirizzo.provincia }})
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <br>
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">phone</mat-icon>
                  </div>
                  <mat-card-title>
                    Telefono
                  </mat-card-title>
                  <mat-card-subtitle style="font-size: 1rem;">
                    {{ (chaletState | async).chalet[0].telefono }} <br>
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
  </div>
<mat-card class="cardcreanuovo" *ngIf="!(chaletState | async).chalet[0]">
    <h2>Non hai ancora creato uno Stabilimento!</h2>
    <br>
  <button
    mat-button
    mat-raised-button
    color="primary"
    routerLink="/user/chalets/new">
    Crea Nuovo<mat-icon class="icon">add</mat-icon>
  </button>
</mat-card>
</div>
<div>
  <mat-progress-bar mode="indeterminate" *ngIf="(chaletState | async).loading"></mat-progress-bar>
</div>





