<div fxLayout="row" fxFlex>
    <h2 *ngIf="editMode; else creanuovo">Modifica mansione</h2>
    <ng-template #creanuovo><h2>Crea nuova mansione</h2> </ng-template>
  
    <form [formGroup]="mansioneForm" (ngSubmit)="onSave()" 
          #formDirective="ngForm"
          class="form-container"
          *ngIf="!(mansioneState | async).loading" >
                
          <mat-form-field>
            <input matInput placeholder="Denominazione" formControlName="denominazione">
            <mat-error *ngIf="!mansioneForm.get('denominazione').valid && mansioneForm.get('denominazione').touched">
              Denominazione obbligatoria
            </mat-error> 
          </mat-form-field>
      
          <mat-form-field>            
            <textarea matInput placeholder="Descrizione" formControlName="descrizione"></textarea>
            <mat-error *ngIf="!mansioneForm.get('descrizione').valid && mansioneForm.get('descrizione').touched">
              Descrizione obbligatoria
            </mat-error>
          </mat-form-field>
            <br>
            <div *ngIf="editMode; else nuovirequisiti">
                <div formArrayName="requisitiall" 
                  *ngFor="let requisito of mansioneForm.controls['requisitiall'].controls; let i=index;">
                  <mat-checkbox formControlName="{{i}}" > 
                                {{ maprequisitisubmit[i].requisitoDenominazione }}
                  </mat-checkbox>
                </div>
            </div>
            <ng-template #nuovirequisiti>
                <div formArrayName="requisitiall"
                  *ngFor="let requisito of mansioneForm.controls['requisitiall'].controls; let i=index;">
                  <mat-checkbox formControlName="{{i}}">
                    {{ maprequisitisubmit[i].requisitoDenominazione }}
                  </mat-checkbox>
                </div>
            </ng-template>
          <br><br>
          <div *ngIf="(mansioneState | async).error != null" class="errormsg">                                                              
            <p *ngFor="let itemErr of (mansioneState | async).error.error.error.errors | keyvalue">
                {{ itemErr.value }}
            </p>
          </div>  
          <button mat-raised-button color="primary"              
              class="w-100" type="submit"
              [disabled]="!mansioneForm.valid">
            Salva                                 
          </button>                
    </form>
    <mat-spinner style="margin: 0 auto" *ngIf="(mansioneState | async).loading"></mat-spinner>
  </div>
  