#titleCreatePrenotazioniModal{
  font-weight: 200;
}

.subTitleCreatePrenotazioniModal{
  font-weight: 200;
  color: #673BB6;
  line-height: 36px;
  font-size: 1.3rem;
}

.successCard{
  border: 1px solid #11b711;
  color: #11b711;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}

.stepCard{
  border: 1px solid #673BB6;
}


.successCard h1 {
  margin: 0px;
}

.inputAttrezzature {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.2rem;
  border: none;
  text-align: center;
}


.column {
  float: left;
  width: 50%;
  padding: 10px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  :host ::ng-deep .mat-list-item-content { padding: 0!important; }
