<div class="flex-grid">
  <div class="col">
<h2 class="titleSection">
  <mat-icon class="icon mr15 valmiddle">book_online</mat-icon>
  Prenotazioni
</h2>
  </div>
    <div class="col" id="zoombox">
      <div style="float: right; font-size: 1rem">
        <p style="padding: 0px 8px; margin: 10px 0px 0px 0px">Zoom</p>
        <mat-slider
          min="60"
          max="140"
          #valueZoom
          (change)="updateZoom($event)"
          step="10"
          value="100"
          thumbLabel
          [displayWith]="formatLabel"
        ></mat-slider>
      </div>
    </div>
</div>

<h3 style="font-weight:300;font-style: italic;">Seleziona le date per sapere se gli ombrelloni sono liberi in quell'intervallo </h3>
<div fxLayout="row" style="margin-bottom: 20px; margin-top: 20px;">
  <br>
  <mat-form-field appearance="fill" style="width:300px">
    <mat-label>Data Inizio e Data Fine</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="range" >
      <input matStartDate placeholder="Data Inizio" formControlName="dateStart" readonly>
      <input matEndDate placeholder="Data Fine" formControlName="dateEnd" readonly>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

  </mat-form-field>
  <button id="btnFindPren"
  [disabled]="!range.valid"
  mat-raised-button color="primary"
  (click)="findPrenotazione()">CERCA</button>
</div>

<div *ngIf="!(prenotazioneState | async).loading">

  <mat-grid-list [cols]="(prenotazioneState | async).mappa.numero_colonne" rowHeight="150px" [ngStyle]="getZoomVal()">
    <mat-grid-tile *ngFor="let tile of mappaGrid; index as i;">
        <!-- <h6>{{ tile.iRiga }}:{{ tile.iColonna }}</h6> -->
        <app-prenotazione-edit
        *ngIf="getOmbrelloneIfExist(tile.iRiga, tile.iColonna) as ombrellone;"
        [ombrellone]="ombrellone"
        [prenArray]="checkPrenotazione(ombrellone.id)"
        [rangeDate]="{dataInizio:range.value['dateStart'],dataFine:range.value['dateEnd']}"></app-prenotazione-edit>
    </mat-grid-tile>
  </mat-grid-list>
  <br><br>
</div>



<div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="(prenotazioneState | async).loading"
  ></mat-progress-bar>
</div>
