<div class="mb20 mt20 cardList">

    <div class="cardListItem" >
        <mat-card class="mat-card-info">
            <mat-progress-bar mode="indeterminate" *ngIf="(aziendaState | async).loading"></mat-progress-bar>
            <mat-card-header *ngIf="!(aziendaState | async).loading">
                <div mat-card-avatar><mat-icon class="icon-lg">domain</mat-icon> </div>
                <mat-card-title>
                  {{ (aziendaState | async).aziendeCount }}
                </mat-card-title> 
                <mat-card-subtitle>Aziende</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>     

</div>
