<div class="mb20 mt20 cardList">

    <div class="cardListItem" >
        <mat-card class="mat-card-info">
            <mat-progress-bar mode="indeterminate" *ngIf="(chaletState | async).loading"></mat-progress-bar>
            <mat-card-header *ngIf="!(chaletState | async).loading">
                <div mat-card-avatar><mat-icon class="icon-lg">store</mat-icon> </div>
                <mat-card-title>
                  {{ (chaletState | async).chaletsCount }}
                </mat-card-title>
                <mat-card-subtitle>Chalet</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

</div>
