<mat-dialog-content>
  <h2>Modifica</h2>
  <form [formGroup]="clienteForm" (ngSubmit)="onSave()"
        #formDirective="ngForm"
        class="form-container">
  <mat-form-field style="width:100%; font-size:1rem">
    <input #termcat matInput formControlName="nome" class="editNomeCat">
    <mat-error *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome').touched">
      Inserire Nome / minimo tre lettere
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width:100%; font-size:1rem">
    <input #termcat matInput formControlName="cognome" class="editNomeCat">
    <mat-error *ngIf="!clienteForm.get('cognome').valid && clienteForm.get('cognome').touched">
      Inserire Cognome  / minimo tre lettere
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width:100%; font-size:1rem">
    <input #termcat matInput formControlName="email" class="editNomeCat">
    <mat-error *ngIf="!clienteForm.get('email').valid && clienteForm.get('email').touched">
      Inserire email nel formato corretto
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width:100%; font-size:1rem">
    <input #termcat matInput formControlName="telefono" class="editNomeCat">
    <mat-error *ngIf="!clienteForm.get('telefono').valid && clienteForm.get('telefono').touched">
      Inserire solo cifre per il telefono
    </mat-error>
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mt20 w-100" id="btndesktop" (click)="close()"
          mat-raised-button color="accent">ANNULLA</button>
          <button class="mat-raised-button mt20 w-100"
          [disabled]="!clienteForm.valid"
          (click)="onSave()"
          mat-raised-button color="primary">SALVA
          <mat-icon class="icon">save</mat-icon></button>
</mat-dialog-actions>
