<h2 *ngIf="editMode; else creanuovo">Modifica Stabilimento</h2>
  <ng-template #creanuovo><h2>Nuovo Stabilimento</h2> </ng-template>

  <form [formGroup]="chaletForm" (ngSubmit)="onSave()"
        (keydown.enter)="$event.preventDefault()"
        #formDirective="ngForm"
        class="form-container">
        <mat-form-field>
          <input matInput placeholder="Ragione Sociale" formControlName="ragione_sociale" appCapitalizeCase>
          <mat-error *ngIf="!chaletForm.get('ragione_sociale').valid && chaletForm.get('ragione_sociale').touched">
            Ragione Sociale obbligatorio
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field>
          <input matInput placeholder="Telefono" formControlName="telefono" >
          <mat-error *ngIf="!chaletForm.get('telefono').valid && chaletForm.get('telefono').touched">
            Telefono obbligatorio
          </mat-error>
        </mat-form-field>
        <br>
        <h4>Indirizzo</h4>
          <div [formGroup]="indirizzo">
            <mat-form-field>
              <input matInput placeholder="provincia" formControlName="provincia">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="citta" formControlName="citta">
            </mat-form-field>
            <br>
            <mat-form-field style="width:100%">
              <input matInput placeholder="via" formControlName="via" style="width:100%">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="civico" formControlName="civico">
            </mat-form-field>
          </div>
        <br>
        <br>
        <button mat-raised-button color="primary"
            *ngIf="!(chaletState | async).loading"
            class="w-100" type="submit"
            [disabled]="!chaletForm.valid">
          Salva
        </button>
        <mat-spinner style="margin: 0 auto" *ngIf="(chaletState | async).loading"></mat-spinner>
  </form>
  <br>

