<div fxLayout="row" fxFlex>
    <h2 *ngIf="editMode; else creanuovo">Modifica requisito</h2>
    <ng-template #creanuovo><h2>Crea nuova requisito</h2> </ng-template>
  
    <form [formGroup]="requisitoForm" (ngSubmit)="onSave()" 
          #formDirective="ngForm"
          class="form-container">
                
          <mat-form-field>
            <input matInput placeholder="Denominazione" formControlName="denominazione">
            <mat-error *ngIf="!requisitoForm.get('denominazione').valid && requisitoForm.get('denominazione').touched">
              Denominazione obbligatorio
            </mat-error> 
          </mat-form-field>
      
          <mat-form-field>            
            <textarea matInput placeholder="Descrizione" formControlName="descrizione"></textarea>
            <mat-error *ngIf="!requisitoForm.get('descrizione').valid && requisitoForm.get('descrizione').touched">
              Descrizione obbligatorio
            </mat-error>
          </mat-form-field>

          <br>
          <div *ngIf="(requisitoState | async).error != null" class="errormsg">                                                              
            <p *ngFor="let itemErr of (requisitoState | async).error.error.error.errors | keyvalue">
                {{ itemErr.value }}
            </p>
          </div>  
          <button mat-raised-button color="primary"
              *ngIf="!(requisitoState | async).loading" 
              class="w-100" type="submit"
              [disabled]="!requisitoForm.valid">
            Salva                                 
          </button>        
          <mat-spinner style="margin: 0 auto" *ngIf="(requisitoState | async).loading"></mat-spinner>
        
          
    </form>
  
  </div>
  