<div class="cardListItem">
    <mat-card class="example-card">
      <mat-card-header [ngClass]="{'headerOrder' : !ordine.annullato && !ordine.verificato,
                                   'headerOrderAnnullato': ordine.annullato,
                                   'headerOrderVerificato': ordine.verificato && !ordine.annullato}">
        <div mat-card-avatar>
          <mat-icon class="icon" style="font-size: 2rem;">beach_access</mat-icon>
        </div>
        <mat-card-title>
          {{ ordine.numero_ombrellone }}
          <div class="orarioOrdine">
            Arrivato alle: {{ ordine.created_at['seconds'] * 1000 | date: 'H:mm' }}
            <mat-chip-list style="float:right;margin-right: -10px;">
            <mat-chip style="background: #fff;" >
              €
              {{ ordine.prezzo_totale }}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          <span class="phoneheadcard">Telefono: <a class="callPhone" href="tel:{{ ordine.numero_telefono }}">{{ ordine.numero_telefono }}</a></span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>


        <mat-expansion-panel *ngIf="ordine.note != '' && ordine.note != null"
            style="border: 1px solid #673ab7;"
            class="mat-elevation-z0"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>comment</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="descriptionNote"
              *ngIf="panelOpenState == false">
              {{ ordine.note | slice:0:15 }}...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ ordine.note }}</p>
        </mat-expansion-panel>


        <mat-selection-list (selectionChange)="onSelectionConsegnato($event.option)">
          <mat-list-option [disabled]="ordine.annullato || ordine.completato"
            *ngFor="let prodotto of ordine.contenuto;"
            [selected]="prodotto.consegnato"
            [value]="prodotto">
            <p>
              <span style="font-weight: bold;" >( {{ prodotto.quantita }} ) </span>
              <span> {{ prodotto.nome_prodotto }}</span>
            </p>
          </mat-list-option>
        </mat-selection-list>
        <br />
        <mat-slide-toggle
          class="mb20" [disabled]="ordine.annullato || ordine.completato"
          [checked]="ordine.verificato"
          (change)="onChangeVerificato($event)">Verificato</mat-slide-toggle>

          <button *ngIf="!ordine.annullato && !ordine.completato"
          mat-raised-button
          color="primary"
          (click)="chiudiOrdine()"
          class="w-100 mb30"> COMPLETATO </button>

          <button *ngIf="ordine.annullato || ordine.completato"
          mat-stroked-button
          color="primary"
          (click)="recuperaOrdine()"
          class="w-100 mb20"> RECUPERA </button>

          <button
          mat-raised-button
          color="warn" *ngIf="!ordine.annullato"
          (click)="annullaOrdine()"
          class="w-100 mb20" > ANNULLA </button>

        <br>
      </mat-card-content>
    </mat-card>
</div>
