<div class="cardListItem">
    <mat-card class="example-card">
      <mat-card-header [ngClass]="{'headerOrder' : !ordine.annullato && !ordine.verificato,
                                   'headerOrderAnnullato': ordine.annullato,
                                   'headerOrderVerificato': ordine.verificato && !ordine.annullato}">
        <div mat-card-avatar>
          <mat-icon *ngIf="ordine.ombrellone_uid != null"
                class="icon" style="font-size: 2rem;">beach_access</mat-icon>
          <mat-icon *ngIf="ordine.tavolo_uid != null && ordine.ombrellone_uid == null"
                class="icon" style="font-size: 2rem;">deck</mat-icon>
          <mat-icon *ngIf="ordine.tavolo_uid == null &&
                           ordine.ombrellone_uid == null &&
                           ordine.nome_asporto != ''"
                class="icon" style="font-size: 2rem;">shopping_bag</mat-icon>
        </div>
        <mat-card-title>
          {{ ordine.numero_ombrellone }}
          {{ ordine.numero_tavolo }}
          <div class="orarioOrdine">
            Arrivato alle: {{ ordine.created_at['seconds'] * 1000 | date: 'H:mm' }}
            <span *ngIf="ordine.nome_asporto != null" style="color: #fff; font-style: italic; font-size: 0.9rem;">
                <br>
                Da: {{ ordine.nome_asporto }}
              </span>
            <mat-chip-list style="float:right;margin-right: -10px;">
            <mat-chip style="background: #fff;" >
              €
              {{ ordine.prezzo_totale }}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          <span class="phoneheadcard">
            Telefono: <a class="callPhone" href="tel:{{ ordine.numero_telefono }}">{{ ordine.numero_telefono }}</a>
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>


        <mat-expansion-panel *ngIf="ordine.note != '' && ordine.note != null"
            style="border: 1px solid #7C7B8A;"
            class="mat-elevation-z0"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>comment</mat-icon>
            </mat-panel-title>
            <mat-panel-description class="descriptionNote"
              *ngIf="panelOpenState == false">
              {{ ordine.note | slice:0:15 }}...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ ordine.note }}</p>
        </mat-expansion-panel>


        <mat-selection-list (selectionChange)="onSelectionConsegnato($event.option)">
          <mat-list-option [disabled]="ordine.annullato || ordine.completato"
            *ngFor="let prodotto of ordine.contenuto;"
            [selected]="prodotto.consegnato"
            [value]="prodotto"
            [ngClass]="{'itemWithNote' : prodotto.nota}">
            <p style="padding: 8px 0px;color: #26C6DC;font-weight: bold;">
              Portata:
              <span *ngIf="prodotto.portata; else noprodottoportata">{{ prodotto.portata }}</span>
              <ng-template #noprodottoportata>1</ng-template>
            </p>
            <p>
              <span style="font-weight: bold;" >( {{ prodotto.quantita }} ) </span>
              <span style="font-size: 1.1rem;"> {{ prodotto.nome_prodotto }}</span>

              <span style="font-size: 0.8rem;color: #7C7B8A;" *ngIf="prodotto.nota">
                <br>
                {{ prodotto.nota }}
              </span>
            </p>
          </mat-list-option>
        </mat-selection-list>
        <br />
        <mat-slide-toggle
          class="mb20" [disabled]="ordine.annullato || ordine.completato"
          [checked]="ordine.verificato"
          (change)="onChangeVerificato($event)">Verificato</mat-slide-toggle>
            <mat-card-actions style="padding-bottom: 20px;" align="center">

                      <button *ngIf="!ordine.annullato && !ordine.completato"
                      mat-raised-button
                      color="primary"
                      (click)="chiudiOrdine()"
                      > COMPLETATO </button>

                    <button (click)="printOrdine(ordine.id)"
                    mat-raised-button
                    color="accent">STAMPA</button>

                    <button *ngIf="ordine.annullato || ordine.completato"
                    mat-raised-button
                    color="primary"
                    (click)="recuperaOrdine()"
                    > RECUPERA </button>

                    <button
                    mat-raised-button
                    color="warn" *ngIf="!ordine.annullato"
                    (click)="annullaOrdine()"
                    > ANNULLA </button>

            </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <div style="display:none;" class="ordineprint" id="{{ ordine.id }}">
          <div style="border: 1px solid #424242;width: 95%;padding:0px 10px 0px 10px">
              <h3>Ordine
                <span *ngIf="ordine.ombrellone_uid != null" >Ombrellone n° {{ ordine.numero_ombrellone}}</span>
                <span *ngIf="ordine.tavolo_uid != null && ordine.ombrellone_uid == null" >
                  Tavolo n° {{ ordine.numero_tavolo}}</span>
                <span *ngIf="ordine.tavolo_uid == null &&
                                         ordine.ombrellone_uid == null &&
                                         ordine.nome_asporto != ''" >Asporto n° </span>
                 </h3>

                  <p *ngIf="ordine.numero_telefono != null"> Telefono: {{ ordine.numero_telefono }} </p>

          <div class="orarioOrdine">
            Arrivato alle: {{ ordine.created_at['seconds'] * 1000 | date: 'H:mm' }}
            <span *ngIf="ordine.nome_asporto != null" style="color: #fff; font-style: italic; font-size: 0.9rem;">
              <br>
              Da: {{ ordine.nome_asporto }}
            </span>
            <mat-chip-list style="float:right;">
              <mat-chip>
                TOTALE €
                {{ ordine.prezzo_totale }}</mat-chip>
            </mat-chip-list>
          </div>
                  <mat-selection-list>
                    <mat-list-option *ngFor="let prodotto of ordine.contenuto;"
                      [selected]="prodotto.consegnato" [value]="prodotto" [ngClass]="{'itemWithNote' : prodotto.nota}">
                      <p>
                        <span>
                          Portata:
                          <span *ngIf="prodotto.portata; else noprodottoportata">{{ prodotto.portata }}</span>
                          <ng-template #noprodottoportata>1</ng-template>
                        </span>
                        <br>
                        <span style="font-weight: bold;">( {{ prodotto.quantita }} ) </span>
                        <span> {{ prodotto.nome_prodotto }}</span>

                        <span style="font-size: 0.8rem;color: #7C7B8A;" *ngIf="prodotto.nota">
                          <br>
                          {{ prodotto.nota }}
                        </span>
                      </p>
                    </mat-list-option>
                  </mat-selection-list>
        <div *ngIf="ordine.note != '' && ordine.note != null" style="border-top: 1px solid #7C7B8A;">
          <p>{{ ordine.note }}</p>
        </div>
      </div>
    </div>
</div>
