<div *ngIf="!(tavoliState | async).loading">

  <div class="content"
        fxLayout="row wrap"
        fxLayout.lt-sm="column"
        fxLayoutGap="20px"
        fxLayoutAlign="flex-start">

        <mat-form-field class="mt20" style="width:100%">
          <input matInput placeholder="Cerca" #term (keyup)="setSearch(term.value)" style="width:100%">
        </mat-form-field>

        <mat-card class="listItem" fxFlex="0 1 calc(12% - 13px)" fxFlex.lt-md="0 1 calc(20% - 32px)" fxFlex.lt-sm="100%"
          *ngFor="let tavolo of tavoli | filterTavoli: tavoloname">
          <mat-card-header>
            <mat-card-title>
              <span><mat-icon>deck</mat-icon></span> <br>
              <span>{{ tavolo.numero }} </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions>
          <button mat-icon-button color="primary" (click)="editTavolo(tavolo)"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button color="primary" (click)="deleteTavolo(tavolo)"> <mat-icon>delete</mat-icon> </button>
          </mat-card-actions>
        </mat-card>
  </div>


</div>
<div>
  <mat-progress-bar mode="indeterminate" *ngIf="(tavoliState | async).loading"></mat-progress-bar>
</div>





