.listItem{
    background: #fff;
    border: 1px solid #673ab7;
    margin-bottom: 20px;
    box-shadow: none;
    width: 100px;
    text-align: center;
}
.mat-card-title{color:#673ab7;font-weight: 200;font-size: 1.8rem;text-align: center;}
.mat-card-header {
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
.mat-card-actions{
  font-size: 1.8rem;
  padding-top: 0%;
  text-align: center;
  justify-content: center;
}


@media screen and (max-width: 960px) {

    .emaildata {
        display: none
    }
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
th.mat-sort-header-sorted {
  color: black;
}
.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
