<div *ngIf="!(tavoliState | async).loading">

  <mat-form-field class="mt20" style="width:100%">
    <input matInput placeholder="Cerca" #term (keyup)="setSearch(term.value)" style="width:100%">
  </mat-form-field>

  <div class="content">
        <mat-card class="listItem"
          *ngFor="let tavolo of tavoli | filterTavoli: tavoloname">
          <mat-card-header>
            <mat-card-title>
              <span><mat-icon>deck</mat-icon></span> <br>
              <span>{{ tavolo.numero }} </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions>
          <button mat-icon-button color="primary" (click)="editTavolo(tavolo)"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button color="primary" (click)="deleteTavolo(tavolo)"> <mat-icon>delete</mat-icon> </button>
          </mat-card-actions>
        </mat-card>
  </div>


</div>
<div>
  <mat-progress-bar mode="indeterminate" *ngIf="(tavoliState | async).loading"></mat-progress-bar>
</div>





