.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 0.8fr));
  gap: 0.7rem;
}

.listItem{
    background: #fff;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
}

.mat-card-title{color:#673ab7;font-weight: 200;font-size: 1.8rem;text-align: center;}
.mat-card-header {
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
.mat-card-actions{
  font-size: 1.8rem;
  padding-top: 0%;
  text-align: center;
  justify-content: center;
}


@media screen and (max-width: 960px) {

    .emaildata {
        display: none
    }
}

@media only screen and (max-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 0rem;
  }
  .listItem{
    background: #fff;
    margin-bottom: 10px;
    width: 82px;
    text-align: center;
  }
}
