<div class="content" fxLayout="row wrap">
  <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="chaletUID != ''">
    <div *ngIf="chalet; else nodataex">
      <div id="coverMenu">
        <mat-icon svgIcon="menuHeader" style="color:white"  class="img-menu"></mat-icon>
      </div>
      <h2 class="text-center title-menu">{{ chalet.ragione_sociale }}</h2>
      <h4 class="text-center title-sub-menu">
        Info & Prenotazioni: {{ chalet.telefono }} <br />
        <span>
          {{ chalet.indirizzo.via }} n. {{ chalet.indirizzo.civico }} -
          {{ chalet.indirizzo.cap }} {{ chalet.indirizzo.citta }}
          ({{ chalet.indirizzo.provincia }})
          </span>
        <br />
      </h4>

      <mat-expansion-panel
        *ngFor="let categoria of categorie | async"
        class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="category-menu">{{ categoria.nome }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="menulist">
          <ng-container *ngFor="let prodotto of prodotti | async">
            <tr *ngIf="categoria.id == prodotto.categoria_uid">
              <td>
                <span>{{ prodotto.nome }}</span>
                <br>
                <span class="descrProd">{{ prodotto.descrizione }}</span>
                <ul class="allergenilista" *ngIf="prodotto.allergeni">
                  <li *ngFor="let allergene of prodotto.allergeni">
                    {{ getAllergeneById(allergene) }}
                  </li>
                </ul>
                <span class="descrProdMinQuantita" *ngIf="prodotto.min_quantita > 1">
                   <br *ngIf="!prodotto.allergeni">
                  Quantità minima: {{ prodotto.min_quantita }} porzioni
                </span>
              </td>
              <td>
                <span>{{ prodotto.prezzo }} €</span>
              </td>
            </tr>
          </ng-container>
        </table>
      </mat-expansion-panel>
      <div id="footerMenu" class="text-center">
        <br /><br />
        Powered by <br />
        <a href="https://ombrel.io">
          <mat-icon svgIcon="logoOmbrelio" style="transform: scale(4.5); display: block; margin: 15px auto;"></mat-icon>
        </a>
        <br />
      </div>
    </div>
    <ng-template #nodataex>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </div>
</div>
