.content {
    width: 100%;
}

.text-center{
  text-align: center;
}


.title-menu{
  font-weight: 600;
  font-size: 2.2rem;
  margin: 18px 0px 50px 0px;
}

.title-sub-menu{
  font-weight: 100;
  font-size: 1.4rem;
  font-style: italic;
  margin: -30px 0px 25px 0px;
}

.title-sub-menu span{
  font-size: 1rem;
  font-style: normal;
}

.category-menu{
  font-size: 1.5rem;
  font-weight: 400;
}

#coverMenu{
  background: slategrey;
  padding: 20px 0px;
}

.img-menu{
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 250px;
}

.menu-item{
  margin: 20px 10px;
  font-size: 1.1rem;
}

mat-card-actions{
  margin: 0px;
}

mat-expansion-panel{
    margin: 10px 10px 20px 10px;
    border: 1px solid #a6a6a6;
}

mat-expansion-panel-header{
  margin: 0px 10px;
}

body{
  font-family: 'Roboto, "Helvetica Neue", sans-serif',;
}

table.menulist {
  width: 94%;
  margin: 0px 0px 10px 10px;
  table-layout: fixed;
}

table.menulist td {
	padding:1em 0 0 0;
	vertical-align:bottom;
}


table.menulist  td:first-child {
	text-align: left;
  font-weight: 500;
  font-size: 1.1rem;
  overflow: hidden;
  position: relative;
}

table.menulist td span.descrProd {
	text-align: left;
  font-size: 0.9rem;
  font-weight: 100;
  overflow: hidden;
  position: relative;
}

table.menulist td span.descrProdMinQuantita{
  font-weight: 400;
  font-style: italic;
  font-size: 0.8rem;;
}




table.menulist td:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  width:1500px;
  height:0px ;
  border-bottom:2px dotted grey;
}

table.menulist td:last-child {
	text-align:right;
	width:3em;
}

ul.allergenilista {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.allergenilista > li {
  float: left;
  margin: 3px 8px 3px 0px;
  background: #404040;
  color: #fff;
  padding: 0px 6px;
  font-size: 0.8rem;
  border-radius: 6px;
}
