<div *ngIf="!(aziendaState | async).loading">

    <h2>Azienda: <span style="color: #673AB7">
        {{ (aziendaState | async).azienda['ragione_sociale'] }}
      </span> </h2>
    <mat-tab-group>
      <mat-tab label="Dettaglio">
        <div class="mattabheader">
          <div class="mb20 mt20 cardList">
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">place</mat-icon>
                  </div>
                  <mat-card-title>
                    Indirizzo
                  </mat-card-title>
                  <mat-card-subtitle>
                    Nazione: {{ (aziendaState | async).azienda['indirizzo']?.nazione }} <br>
                    Provincia: {{ (aziendaState | async).azienda['indirizzo']?.provincia }} <br>
                    Citta: {{ (aziendaState | async).azienda['indirizzo']?.citta }} <br>
                    Via: {{ (aziendaState | async).azienda['indirizzo']?.via }} <br>
                    Civico: {{ (aziendaState | async).azienda['indirizzo']?.civico }}
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
            <div class="cardListItem">
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon class="icon-lg" color="primary">contacts</mat-icon>
                  </div>
                  <mat-card-title>
                    Contatti
                  </mat-card-title>
                  <mat-card-subtitle>
                    Email: {{ (aziendaState | async).azienda['email'] }} <br>
                    PEC: {{ (aziendaState | async).azienda['pec'] }} <br><br>
                    Contatti Telefonici:
                    <hr>
                    <div *ngFor="let item of (aziendaState | async).azienda['telefono']">
                      {{ item.nota }}:  {{ item.prefisso }} {{ item.numero }}
                      <br>
                    </div>
                  </mat-card-subtitle>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon class="icon mr5" color="primary">assignment</mat-icon>
              Partita IVA: {{ (aziendaState | async).azienda['partita_iva'] }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon class="icon mr5" color="primary">chrome_reader_mode</mat-icon>
              Codice Ateco: {{ (aziendaState | async).azienda['codice_ateco'] }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon class="icon mr5" color="primary">chrome_reader_mode</mat-icon>
              Numero Rea: {{ (aziendaState | async).azienda['numero_rea'] }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon class="icon mr5" color="primary">calendar_today</mat-icon>
              Data Visura Evasione CCIA:
              {{ (aziendaState | async).azienda['data_visura_evasione_ccia']?.toDate() | date: 'dd/MM/yyyy'}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="Risorse Umane">

      </mat-tab>
      <mat-tab label="Documenti">
        <app-documenti></app-documenti>
      </mat-tab>
    </mat-tab-group>

</div>
<div fxLayout="row" fxFlex>
  <br>
  <mat-progress-bar mode="indeterminate" *ngIf="(aziendaState | async).loading"></mat-progress-bar>
</div>
