<div fxLayout="row" fxFlex>
  <h2 *ngIf="editMode; else creanuovo">Modifica Azienda</h2>
  <ng-template #creanuovo><h2>Nuova Azienda</h2> </ng-template>

  <form [formGroup]="aziendaForm" (ngSubmit)="onSave()"
        #formDirective="ngForm"
        class="form-container">

        <mat-form-field>
          <input matInput placeholder="Ragione Sociale" formControlName="ragione_sociale" appCapitalizeCase>
          <mat-error *ngIf="!aziendaForm.get('ragione_sociale').valid && aziendaForm.get('ragione_sociale').touched">
            Ragione Sociale obbligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="!aziendaForm.get('email').valid && aziendaForm.get('email').touched">
            Inserisci un formato email corretto
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pec" formControlName="pec">
          <mat-error *ngIf="!aziendaForm.get('pec').valid && aziendaForm.get('pec').touched">
            Pec obbligatoria
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="P.IVA" formControlName="partita_iva">
          <mat-error *ngIf="!aziendaForm.get('partita_iva').valid && aziendaForm.get('partita_iva').touched">
            P.IVA obbligatoria
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Numero Rea" formControlName="numero_rea">
          <mat-error *ngIf="!aziendaForm.get('numero_rea').valid && aziendaForm.get('numero_rea').touched">
            Inserire un Numero Rea valido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Codice ATECO" formControlName="codice_ateco">
          <mat-error *ngIf="!aziendaForm.get('codice_ateco').valid &&
                            aziendaForm.get('codice_ateco').touched">
            Inserire un codice ateco valido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput readonly [matDatepicker]="data_visura_evasione_ccia"
            placeholder="Data Visura CCIA" formControlName="data_visura_evasione_ccia">
          <mat-datepicker-toggle matSuffix [for]="data_visura_evasione_ccia"></mat-datepicker-toggle>
          <mat-datepicker #data_visura_evasione_ccia startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <br>
        <br>
        <div formArrayName="telefono" *ngFor="let item of telefono.controls; index as i">
          <div [formGroupName]="i" [ngClass]="{'valid_phone': item.valid}">
              <mat-form-field>
                <input matInput placeholder="telefono" formControlName="numero">
                <mat-icon matSuffix (click)="removeTelefono(item)" *ngIf="telefono.length >= 2">delete</mat-icon>
                <mat-icon matSuffix (click)="addTelefono()"
                *ngIf="item.valid &&
                       telefono.length < 4 &&
                       i+1 == telefono.length">add_circle_outline</mat-icon>
              </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h4>Indirizzo</h4>
          <div [formGroup]="indirizzo">
            <mat-form-field>
              <input matInput placeholder="nazione" formControlName="nazione">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="provincia" formControlName="provincia">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="citta" formControlName="citta">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="via" formControlName="via">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="civico" formControlName="civico">
            </mat-form-field>
          </div>
        <br>

        <button mat-raised-button color="primary"
            *ngIf="!(aziendaState | async).loading"
            class="w-100" type="submit"
            [disabled]="!aziendaForm.valid">
          Salva
        </button>
        <mat-spinner style="margin: 0 auto" *ngIf="(aziendaState | async).loading"></mat-spinner>
  </form>
  <br>
</div>
