  .mat-card-subtitle{
    font-size: 0.9rem;
  }

  .cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 10px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(50% - 10px);
  }
  /* medium size viewport */
  @media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 10px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 10px);
    }
  }
  /* small size viewport */
  @media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 10px;
    }
  }
