.form-container {
    display: flex;
    flex-direction: column;
  }

.form-container > * {
  width: 100%;
}

.editNomeCat{font-size: 1.2rem;}
.form-container {
    display: flex;
    flex-direction: column;
  }

.form-container > * {
  width: 100%;
}

