<div fxLayout="row" fxFlex>
    <h2 *ngIf="editMode; else creanuovo">Modifica cliente</h2>
    <ng-template #creanuovo><h2>Crea nuovo cliente</h2> </ng-template>
  
    <form [formGroup]="clienteForm" (ngSubmit)="onSave()" 
          #formDirective="ngForm"
          class="form-container">
                
          <mat-form-field>
            <input matInput placeholder="Nome" formControlName="nome">
            <mat-error *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome').touched">
            Nome obbligatorio
            </mat-error> 
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Cognome" formControlName="cognome">
            <mat-error *ngIf="!clienteForm.get('cognome').valid && clienteForm.get('cognome').touched">
            Cognome obbligatorio
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Codice Fiscale" formControlName="c_fiscale">
            <mat-error *ngIf="!clienteForm.get('c_fiscale').valid && clienteForm.get('c_fiscale').touched">
            Inserisci un formato Codice Fiscale corretto
            </mat-error>
          </mat-form-field>
      
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="!clienteForm.get('email').valid && clienteForm.get('email').touched">
            Inserisci un formato email corretto
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Cellulare" formControlName="cellulare">
            <mat-error *ngIf="!clienteForm.get('cellulare').valid && clienteForm.get('cellulare').touched">
            Inserisci un formato cellulare corretto
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="data_nascita" 
              placeholder="Data di Nascita" readonly
              formControlName="data_nascita">
            <mat-datepicker-toggle matSuffix [for]="data_nascita"></mat-datepicker-toggle>
            <mat-datepicker #data_nascita disabled="false" color="primary"></mat-datepicker>
            <mat-error *ngIf="!clienteForm.get('data_nascita').valid && clienteForm.get('data_nascita').touched">
            Inserisci un formato data corretto
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Città" formControlName="citta">            
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Indirizzo" formControlName="indirizzo">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Provincia" formControlName="provincia">            
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="CAP" formControlName="cap">
            <mat-error *ngIf="!clienteForm.get('cap').valid && clienteForm.get('cap').touched">
            Inserisci un formato cap corretto
            </mat-error>
          </mat-form-field>

          <br>
          <div *ngIf="(clienteState | async).error != null" class="errormsg">                                                              
            <p *ngFor="let itemErr of (clienteState | async).error.error.error.errors | keyvalue">
                {{ itemErr.value }}
            </p>
          </div>  
          <button mat-raised-button color="primary"
              *ngIf="!(clienteState | async).loading" 
              class="w-100" type="submit"
              [disabled]="!clienteForm.valid">
            Salva                                 
          </button>        
          <mat-spinner style="margin: 0 auto" *ngIf="(clienteState | async).loading"></mat-spinner>
        
          
    </form>
  
  </div>
  