<mat-dialog-content>
  <h3>
    Cancellare definitivamente:
    {{ azienda.ragione_sociale }} ?
  </h3>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mt20 w-100" id="btndesktop" (click)="close()"
          mat-raised-button color="accent">Annulla</button>
          <button class="mat-raised-button mt20 w-100" id="btndesktopdel" (click)="delete(azienda.id)"
          mat-raised-button color="primary">Cancella
          <mat-icon class="icon">delete</mat-icon></button>
</mat-dialog-actions>
