<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      id="sidebar"
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary" >
        <mat-icon svgIcon="faviconOmbrelio" style="transform: scale(1.8);margin-left: 8px;display: block;"></mat-icon>
      </mat-toolbar>
    <mat-nav-list>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/user/ordini">
              <mat-icon class="icon mr15" color="primary">menu_book</mat-icon> Ordini</a>
            <a mat-list-item routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/user/ordini/completati">
              <mat-icon class="icon mr15" color="primary">local_library</mat-icon> Completati</a>
            <a mat-list-item routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/user/ordini/annullati">
              <mat-icon class="icon mr15" color="primary">layers_clear</mat-icon> Annullati</a>
            <mat-divider></mat-divider>
        </mat-sidenav-container>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <div class="nested-menu">
              <a mat-list-item (click)="addExpandClass('pages')">
                  <mat-icon class="sidenav-icon mr15" color="primary">restaurant_menu</mat-icon>
                  Menù
                  <mat-icon class="sidenav-icon mr15" style="margin-left: 116px;" color="primary">add</mat-icon>
              </a>
              <ul class="nested submenu" [class.expand]="showMenu === 'pages'">
                  <li>
                    <a mat-list-item routerLinkActive="active" routerLink="/user/categorie">
                      <mat-icon class="sidenav-icon mr15" color="primary">receipt_long</mat-icon>
                       Categorie
                    </a>
                  </li>
                  <li>
                    <a mat-list-item routerLinkActive="active" routerLink="/user/prodotti">
                        <mat-icon class="sidenav-icon mr15" color="primary">fastfood</mat-icon>
                        Prodotti
                    </a>
                  </li>
                  <li>
                    <a mat-list-item routerLinkActive="active" routerLink="/user/prodotti/sharemenu">
                        <mat-icon class="sidenav-icon mr15" color="primary">share</mat-icon>
                        Condividi
                    </a>
                  </li>
              </ul>
            </div>
            <mat-divider></mat-divider>
        </mat-sidenav-container>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active" routerLink="/user/prenotazioni">
            <mat-icon class="icon mr15" color="primary">book_online</mat-icon> Prenotazioni</a>
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <mat-sidenav-container>
            <a mat-list-item routerLinkActive="active" routerLink="/user/chalets">
              <mat-icon class="icon mr15" color="primary">storefront</mat-icon> Stabilimento</a>
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active" routerLink="/user/ombrelloni">
              <mat-icon class="icon mr15" color="primary">beach_access</mat-icon> Ombrelloni</a>
        </mat-sidenav-container>

        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active" routerLink="/user/attrezzature">
              <mat-icon class="icon mr15" color="primary">support</mat-icon> Attrezzature</a>
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active" routerLink="/user/tavoli">
              <mat-icon class="icon mr15" color="primary">deck</mat-icon> Tavoli</a>
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <mat-sidenav-container *ngIf="(chaletuidobs | async) != ''">
            <a mat-list-item routerLinkActive="active" routerLink="/user/clienti">
              <mat-icon class="icon mr15" color="primary">people_alt</mat-icon> Clienti</a>
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <a mat-list-item  (click)="onLogout()">
          <mat-icon class="icon mr15" color="primary">logout</mat-icon> Logout</a>
          <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span style="cursor: pointer;" routerLink="">
      <img src="https://www.ombrel.io/wp-content/uploads/2020/05/logoHorizontal.png" style="width: 110px;margin-top: 10px;">
    </span>
      <span class="toolbar-spacer"></span>
      <a mat-icon-button class="example-icon favorite-icon "
        href="https://m.me/ombrel.io"
        target="_blank"
        matTooltip="Scrivici qui se hai bisogno di aiuto"
        aria-label="Supporto">
        <mat-icon svgIcon="messanger"></mat-icon>
      </a>
      <a mat-icon-button class="example-icon favorite-icon "
        href="https://youtube.com/playlist?list=PL8iCDyIDD6r-snKN0JZm9tx1PwvjdXrUT"
        target="_blank"
        matTooltip="Guarda i video tutorial"
        aria-label="Video">
        <mat-icon svgIcon="youtube"></mat-icon>
      </a>
      <a mat-icon-button class="example-icon favorite-icon "
        href="https://t.me/joinchat/oqURY-oRIXk2ZTg0"
        target="_blank"
        matTooltip="Iscriviti al canale per tutti gli aggiornamenti"
        aria-label="Aggiornamenti">
        <mat-icon svgIcon="telegram"></mat-icon>
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
