<mat-dialog-content>
  <h2>Modifica</h2>
  <form [formGroup]="categoriaForm" (ngSubmit)="onSave()"
        #formDirective="ngForm"
        class="form-container">
  <mat-form-field style="width:100%; font-size:1rem">
    <input #termcat matInput formControlName="nome" class="editNomeCat">
    <mat-error *ngIf="!categoriaForm.get('nome').valid && categoriaForm.get('nome').touched">
      Inserire Categoria / minimo tre lettere
    </mat-error>
  </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mt20 w-100" id="btndesktop" (click)="close()"
          mat-raised-button color="accent">ANNULLA</button>
          <button class="mat-raised-button mt20 w-100"
          [disabled]="!categoriaForm.valid"
          (click)="onSave()"
          mat-raised-button color="primary">SALVA
          <mat-icon class="icon">save</mat-icon></button>
</mat-dialog-actions>
