.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-list-item{
  height: 1.8rem;;
}

.datePrenotazione{
    font-size: 1rem;
    font-weight: 300;
}
.mat-card{
  width: 95%;
  background: azure;
  margin-bottom: 12px;
}

.listCardPrenotazioni {
    height: 250px;
    overflow-y: auto;
}


.mat-card-content {
  margin-bottom: 0px;
}

.titoloPrenotazione{
  line-height: 28px;
}

.noPrenotazioni{
  border: 1px solid #26c6da;
  color: #26c6da;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
}
